DATABASE_URL="postgresql://yourName:yourpassword@localhost:5432/your_database_name"

JWT_SECRET="your_super_secret_jwt_key_here"

ADMIN_NAME="Admin"

ADMIN_EMAIL="[admin@example.com](mailto:admin@example.com)"

ADMIN_PASSWORD="StrongPassword123!"
